<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Dark theme</string>
			<key>Key</key>
			<string>enableDarkTheme</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>domain</string>
			<key>Key</key>
			<string>domain</string>
			<key>DefaultValue</key>
			<string>2ch.hk</string>
			<key>Titles</key>
			<array>
				<string>Hong Kong</string>
				<string>Pearl Marble</string>
				<string>2 channel</string>
			</array>
			<key>Values</key>
			<array>
				<string>2ch.hk</string>
				<string>2ch.pm</string>
				<string>2channel.hk</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Clear cache</string>
			<key>Key</key>
			<string>clearThreads</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
