<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>bi</string>
	<string>sn</string>
	<string>biz</string>
	<string>sn</string>
	<string>sci</string>
	<string>fa</string>
	<string>mobi</string>
	<string>fs</string>
	<string>me</string>
	<string>fiz</string>
	<string>au</string>
	<string>fs</string>
	<string>em</string>
	<string>hh</string>
	<string>hi</string>
	<string>tv</string>
	<string>cul</string>
	<string>pa</string>
	<string>br</string>
	<string>bo</string>
	<string>mov</string>
	<string>c</string>
	<string>ra</string>
	<string>ew</string>
	<string>hm</string>
	<string>b</string>
	<string>r34</string>
	<string>ya</string>
	<string>guro</string>
	<string>webm</string>
	<string>qtr4</string>
	<string>alco</string>
	<string>ukr</string>
	<string>kz</string>
	<string>ebola</string>
	<string>plug</string>
	<string>r</string>
	<string>int</string>
	<string>abu</string>
	<string>fg</string>
	<string>fur</string>
	<string>g</string>
	<string>ga</string>
	<string>h</string>
	<string>ho</string>
	<string>hc</string>
	<string>e</string>
	<string>fet</string>
	<string>sex</string>
	<string>fag</string>
	<string>a</string>
	<string>aa</string>
	<string>fd</string>
	<string>ja</string>
	<string>ma</string>
	<string>rm</string>
	<string>to</string>
	<string>vn</string>
	<string>jsf</string>
	<string>ftb</string>
	<string>mlp</string>
	<string>pvc</string>
	<string>mg</string>
	<string>wp</string>
	<string>p</string>
	<string>cc</string>
	<string>cute</string>
</array>
</plist>
