<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>BOARD_CATEGORY_FAVOURITE</string>
	<string>BOARD_CATEGORY_THEMED</string>
	<string>BOARD_CATEGORY_CREATION</string>
	<string>BOARD_CATEGORY_TECH</string>
	<string>BOARD_CATEGORY_GAMES</string>
</array>
</plist>
